@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:#F3F9D2">Northwest Labs Pharmaceuticals</h1>
    <p class="lead white">Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.</p>
    <p class="white">@Html.ActionLink("About", "About", "Home", null, new {@class="btn btn-info"})</p>
</div>

<div class="row black">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            Northwest Labs Pharmaceutical provides chemical and 
            compound tests for companies needing in-depth assay
            analysis. An assay analysis is a set of physical, 
            chemical, atomic, and biological tests that are 
            conducted on a chemical compound or drug to determine
            its characteristics.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>What Our Customers Do</h2>
        <p> Most customers are long-term, and much of the marketing 
        to new pharmaceutical entrants is done via word of mouth
        by existing customers. Northwest Labs is contracted by 
        these customers to provide testing and various assays and 
        a detailed report of the tests run. </p>
       
    </div>
    <div class="col-md-4">
        <h2>Our Employees</h2>
        <p>Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo 
        consequat. </p>
       
    </div>
</div>