
@{
    ViewBag.Title = "Employee Home";
}


<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "empHome", "Employees")</li>
    <li><a href="#">To Do Orders</a></li>
    <li><a href="#">In Progress Orders</a></li>
    <li>@Html.ActionLink("Employee Details", "Index", "Employees")</li>
</ul>

<div>
    <h4>Welcome to Northwest Labs.</h4>
</div>