@model Intex2017.Models.Employee

@{
    ViewBag.Title = "Employee Home";
}


<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "empHome", new { id = Model.empID })</li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Current Tasks</a></li>
    <li>@Html.ActionLink("Employee Details", "Index", new { id = Model.empID })</li>
</ul>

<div>
    <h4>Welcome @Model.empFirstName to Northwest Labs.</h4>
</div>