
@{
    ViewBag.Title = "repHome";
}

<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "repHome", "Representatives")</li>
    <li>@Html.ActionLink("My Orders", "Index", "Orders")</li>
    <li><a href="#">My Recent Orders</a></li>
    <li><a href="#">Create Order</a></li>
    <li>@Html.ActionLink("My Details", "Index", "Representatives")</li>
</ul>

<div>
    <h4>Welcome to Northwest Labs.</h4>
</div>